@{
    Layout = null;
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @{ var order = Request.Params["id[]"]; }
        <p> @order[1]</p>
    </div>
</body>
</html>
